@inherits AddNewItemBase
@using System.Collections
@using System
@using SIM.Blazor.Components
@using Newtonsoft.Json

@if (!isSaved)
{
    <EditForm Model="@TargetType" OnValidSubmit="Submit">
        @{
            foreach (var prop in TargetType.GetProperties()
                .OrderBy(a=>(a.GetCustomAttributes(typeof(JsonPropertyAttribute), true)?.FirstOrDefault() as JsonPropertyAttribute)?.Order))
            {
                if (prop.PropertyType != typeof(string) && prop.PropertyType.GetInterface("IEnumerable") != null)
                {
                    <SimListPropertyRepresantation Owner="@Object" BackingProprty="@prop" Editable="true"></SimListPropertyRepresantation>
                }
                else
                {
                    <SimSinglePropertyRepresentation Owner="@Object" BackingProprty="@prop" Editable="true"></SimSinglePropertyRepresentation>
                }
            }
        }
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
}
else
{
    <div class="alert alert-success">New Node type saved successfully</div>
}
